.firstAd{
    background-image: url('../../img/first-ad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 60px;
    margin: 2rem 0 2rem 0;
}
.secondAd{
    background-image: url('../../img/second-ad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 60px;
    margin: 2rem 0 2rem 0;
}