.footer {
  display: flex;
  flex-direction: column;
  font-size:$typo-s;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer__social--links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $size 0;
  width: 20%;
}

.about__us{
  font-size:$typo-s;
  margin: 2rem 0 2rem 0;
}
.about__us--title{
  font-size:$typo-m;
  font-weight: bold;
}
