<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Arigato.com</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <button class="accordeon">
                Top Animes
            </button>
            <div class="accordeon__content">
                <ul>
                    <li> <a href="#">Tokyo ghoul</a></li>
                    <li> <a href="#">Jujutsu Kaisen</a></li>
                    <li> <a href="#">Dragon ball z</a></li>
                    <li> <a href="#">Sailor moon</a></li>
                    <li> <a href="#">One Piece</a></li>
                    <li> <a href="#">Full metal alchemist</a></li>
                    <li> <a href="#">Soul eater</a></li>
                    <li> <a href="#">Zoids</a></li>
                </ul>
            </div>
            <button class="accordeon">
                New Releases
            </button>
            <div class="accordeon__content">
                <ul>
                    <li> <a href="#">The time that i got reincarnated as a slime</a></li>
                    <li> <a href="#">So im spider</a></li>
                    <li> <a href="#">Tower of god</a></li>
                    <li> <a href="#">Black clover</a></li>
                    <li> <a href="#">Tokyo revengers</a></li>
                </ul>
            </div>
            <button class="accordeon">
                News
            </button>
            <div class="accordeon__content">
                <ul>
                    <li> <a href="#">Manga creator of hinuyasha has cancelled his production of the anime</a></li>
                    <li> <a href="#">Best free websites to watch anime no ads totally free</a></li>
                    <li> <a href="#">Japan has opened a new entertainmet park for anime viewers</a></li>
                </ul>
            </div>
            <button class="accordeon">
                Recomendations
            </button>
            <div class="accordeon__content">
                <ul>
                    <li> <a href="#">The time that i got reincarnated as a slime</a></li>
                    <li> <a href="#">So im spider</a></li>
                    <li> <a href="#">Shingeky no Kyojin</a></li>
                    <li> <a href="#">Mirai Nikki</a></li>
                    <li> <a href="#">13 eyes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>