<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <!--card-->
      <div class="card">
        <img class="card__img" src="../img/overwtach.png" alt="overwtach">
        <div class="card__content">
          <h2>Post Title</h2>
          <p>Overwatch is a game that incorporates individual mechanics, game sense, and positioning within a team concept.</p>
          <p>Celebrate Blizzard’s 30th year creating worlds, exploring new universes, and sharing countless epic gaming experiences together with the BlizzConline™ Celebration Collection!</p>
        </div>
        <div class="card__ancore">
          <a class="card__link" href="#">read Post</a>
        </div>
        <div class="card__social">
          <img src="../img/perBio.png" alt="alejandro">
          <p>Alejandro</p>
          <div class="card__social--links">
            <a href="#">
              <img src="../img/twiter.png" alt="">
            </a>
            <a href="#">
              <img src="../img/face.png" alt="">
            </a>
          </div>
        </div>
      </div>


      <!--card-->
      <div class="card">
        <img class="card__img" src="../img/overwtach.png" alt="overwtach">
        <div class="card__content">
          <h2>Post Title</h2>
          <p>Overwatch is a game that incorporates individual mechanics, game sense, and positioning within a team concept.</p>
          <p>Celebrate Blizzard’s 30th year creating worlds, exploring new universes, and sharing countless epic gaming experiences together with the BlizzConline™ Celebration Collection!</p>
        </div>
        <div class="card__ancore">
          <a class="card__link" href="#">read Post</a>
        </div>
        <div class="card__social">
          <img src="../img/perBio.png" alt="alejandro">
          <p>Alejandro</p>
          <div class="card__social--links">
            <a href="#">
              <img src="../img/twiter.png" alt="">
            </a>
            <a href="#">
              <img src="../img/face.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>