<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>Arigato.com</title>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="header">
        <img class="logo" src="../img/LogoHeader.png" alt="">
        <button class="menu-bottom">menu</button>
      </div>

      <div class="menu">
        <img class="close" src="../img/close.png" alt="">
        <ul class="menu_list">
          <li><a href="#">Animes of the Month</a></li>
          <li><a href="#">New Releases</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Recomendations</a></li>
        </ul>
        <p class="line"></p>
        <h2 class="category">Categories</h2>
        <ul class="menu_list-2">
          <li><a href="#">Action</a></li>
          <li><a href="#">Adventure</a></li>
          <li><a href="#">Fiction</a></li>
          <li><a href="#">Romantic</a></li>
          <li><a href="#">Terror</a></li>
          <li><a href="#">Gore</a></li>
        </ul>
      </div>
    </div>
  </div>
  <script src="../js/modules/menu.js"></script>
</body>
</html>
