<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <!--slider-->
      <div class="slider">
        <div class="slider__card">
          <img src="../img/slide01.jpeg" alt="">
          <div class="slider__card--link">
            <a href="#">
              <h4>Tokyo Ghoul</h4>
            </a>
          </div>
        </div>

        <div class="slider__card">
          <img src="../img/slide02.jpeg" alt="">
          <div class="slider__card--link">
            <a href="#">
              <h4>Shingeky No</h4>
            </a>
          </div>
        </div>

        <div class="slider__card">
          <img src="../img/slide01.jpeg" alt="">
          <div class="slider__card--link">
            <a href="#">
              <h4>Tokyo Ghoul</h4>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="../js/modules/modal.js"></script>
</body>
</html>