<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Arigato.com</title>
</head>

<body>
    <div class="vips">
        <div class="container">
            <div class="vips__container">
                <h2>Follow the Vips</h2>
                <div class="vips__container--famous">
                    <img src="../img/persona 1.png" alt="face person">
                    <img src="../img/persona 2.png" alt="face person">
                    <img src="../img/persona 3.png" alt="face person">
                </div>
            </div>
        </div>
    </div>
</body>

</html>